@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.text-stroke {
  -webkit-text-stroke: 0.75px white;
}

.text-stroke-bold {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}
